mixin render_board(board)
    .board
        each category in board.category_set
            ul.category
                li.category-title= category.title

                each question in category.question_set
                    li.question
                        p.value= question.value
                        p.question-text= question.question
                        p.answer= question.answer | encode

extends mixins

block content
    h2= board.title

    .scores
        p Team 1: #[span.score-one]
        p Team 2: #[span.score-two]

    +render_board(board)

    include modal

block scripts
    script(src='/static/js/game.js')
