doctype html
html
    head
        name = g.name
        title= name
        link(href='/static/css/stylesheet.min.css', rel='stylesheet')
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(charset='utf-8')

    body
        messages = get_flashed_messages(with_categories=True)

        ul.flashes
            each category, message in messages
                li(class=category)= message

        header
            .main-header
                a(href=url_for('index')) #[h1= name]

                nav
                    if user.is_authenticated
                        a(href=url_for('users.profile', username=user.username)) Welcome #{user.username}
                        a(href=url_for('accounts.log_out')) Log out

                    else
                        a(href=url_for('accounts.log_in')) Log in
                        a(href=url_for('accounts.sign_up')) Sign up

        #body
            .main-body
                block content

            .game-flash
                p.game-flash-text

        footer
            .main-footer
                p &copy;2016 #{name}

        script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js')
        script(src='//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js')

        script(src='/static/js/frontend.js')

        block scripts
