extends layout

mixin render_field(field)
    if field.errors
        each error in field.errors
            .notification.error= error

    =field(placeholder=field.label.text)

mixin render_form(form, action='Submit')
    form(method='POST', action='')
        =form.hidden_tag()

        each field in form
            fieldset
                +render_field(field)

        button(type='submit')= action

mixin render_board(board, create=false)
    .board-wrap
        if create
            input.title(placeholder=board.title, name='board_title')
        else
            h2.title= board.title

        if create
            - var username = user.username
        else
            - var username = board.creator.username


        p Made by #[a(href=url_for('users.profile', username=username))= username]

        if not create
            .links
                a(href=url_for('game.teacher', board_id=board.id)) Teacher page
                a.delete-board(href=url_for('game.delete', board_id=board.id)) Delete

            .scores
                p Player 1: #[span.score-one]
                p Player 2: #[span.score-two]

        .board
            each category in board.category_set
                ul.category
                    if create
                        input.category-title(placeholder=category.title, name='category_title')
                    else
                        li.category-title= category.title

                    each question in category.question_set
                        li.board-question
                            if create
                                input.value(placeholder='Value', value=question.value)
                                input.create-question(placeholder='Question text')
                                input.create-answer(placeholder='Answer text')

                            else
                                p.value= question.value
                                p.question-text= question.question
                                p.answer= question.answer | encode